:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--very-light-gray);
}
.container {
  width: 90rem;
  height: 50rem;
  display: flex;
  font-family: "Lexend Deca", sans-serif;
  border-radius: 20px;
}
.card {
  padding: 5% 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card--orange {
  background-color: var(--bright-orange);
  border-end-start-radius: 20px;
  border-start-start-radius: 20px;
}

.card--blue {
  background-color: var(--dark-cyan);
}

.card--green {
  background-color: var(--very-dark-cyan);
  border-end-end-radius: 20px;
  border-start-end-radius: 20px;
}

.card__icon {
  width: 6.5rem;
}

.card__title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--very-light-gray);
}

.card__p {
  color: var(--transparent-white);
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-bottom: 35%;
}

.card__btn {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  border: none;
  text-decoration: none;
  width: fit-content;
  font-size: 1.7rem;
  padding: 6% 15%;
  border-radius: 30px;
  justify-self: flex-end;
  cursor: pointer;
}

.card--orange > .card__btn {
  color: var(--bright-orange);
}
.card--blue > .card__btn {
  color: var(--dark-cyan);
}
.card--green > .card__btn {
  color: var(--very-dark-cyan);
}

.card__btn:hover {
  border: 2px solid var(--transparent-white);
  color: var(--transparent-white);
  margin: -2px;
}

.card--orange > .card__btn:hover {
  background-color: var(--bright-orange);
}
.card--blue > .card__btn:hover {
  background-color: var(--dark-cyan);
}
.card--green > .card__btn:hover {
  background-color: var(--very-dark-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 640px) and (max-width: 1040px) {
  .container {
    max-width: 80%;
    min-width: 65rem;
    height: 45rem;
    margin: 0 auto 0 auto;
  }
  .card__icon {
    width: 4.5rem;
  }
  .card__title {
    font-size: 3.4rem;
  }
  .card__p {
    font-size: 1.4rem;
    padding-bottom: 10%;
    line-height: 2.2rem;
  }
  .card__btn {
    font-size: 1.5rem;
    padding: 5% 13%;
  }
}

@media (min-width: 481px) and (max-width: 640px) {
  .container {
    max-width: 80%;
    min-width: 49rem;
    height: 33rem;
  }
  .card__icon {
    width: 3.5rem;
  }
  .card__title {
    font-size: 3rem;
  }
  .card__p {
    font-size: 1rem;
    padding-bottom: 10%;
    line-height: 2rem;
  }
  .card__btn {
    font-size: 1rem;
    padding: 2% 7%;
  }
}

@media screen and (max-width: 481px) {
  body {
    display: flow-root;
  }
  .container {
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    max-width: 60%;
    min-width: 26rem;
    height: 100.4rem;
    justify-items: start;
  }
  .card {
    height: 34rem;
    padding: 13% 18%;
  }
  .card__icon {
    width: 4.5rem;
  }
  .card__title {
    font-size: 2.8rem;
  }
  .card__p {
    font-size: 1.2rem;
    padding-bottom: 10%;
    line-height: 2.2rem;
  }
  .card__btn {
    font-size: 1.2rem;
    padding: 5% 8%;
  }
  .card--orange {
    background-color: var(--bright-orange);
    border-end-start-radius: 0px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
  }
  .card--green {
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-end-radius: 0px;
  }
}
